<div class="container">
    <h1>The Ghost Game</h1>
    <div class="row">
        <div class="col-md-2">
            <h3>
                <span class="label label-warning">{{vm.msg}}</span>
            </h3>
        </div>
        <div class="col-md-2">
            <h3>
                <span ng-show="vm.result" class="label label-primary">
                    {{vm.result}}
                </span>
            </h3>                
        </div>
    </div>
    <div class="jumbotron">
        <h1>{{vm.word}}</h1>
    </div>
    <form name="letterForm" ng-submit="vm.sendWord(letterForm)">
        <input name="letter" type="text" ng-model="vm.selectedLetter" ng-maxlength="1" required>
        <p ng-show="letterForm.letter.$error.maxlength">Only one letter at a time.</p>
        <p ng-show="letterForm.letter.$error.required && letterForm.letter.$dirty">
            Please insert a letter.
        </p>
    <input type="button" class="btn btn-default btn-large" value="Send"
           ng-click="vm.sendWord(letterForm)">        
    </form>
    <br/>

</div>